<h1><%= t(:builds) %></h1>
    <br>
    <% @post.builds.each do |build|%>
    <div class="card card-body bg-light">
    <p style="color:black"><strong ><%= build.name %></strong><br>
    <%= build.body%></p> 
      <% if build.images.present? %>
        <h3><strong>Закуп после 30 мин:</strong></h3>
            <div class="cont">
            <div class="col">
                <div>
                <% (0...build.images.count).each do |image| %>
                    <%= image_tag(build.images[image]) %>
                    <% break %>
                <% end %>
                </div>
                <div>
                <% (1...build.images.count).each do |image| %>
                    <%= image_tag(build.images[image]) %>
                    <% break %>
                <% end %>
                </div>
            </div>
            <div class="col">
                <div>
                <% (2...build.images.count).each do |image| %>
                    <%= image_tag(build.images[image]) %>
                    <% break %>
                <% end %>
                </div>
                <div>
                <% (3...build.images.count).each do |image| %>
                    <%= image_tag(build.images[image]) %>
                    <% break %>
                <% end %>
                </div>
            </div>
            <div class="col">
                <div>
                <% (4...build.images.count).each do |image| %>
                    <%= image_tag(build.images[image]) %>
                    <% break %>
                <% end %>
                </div>
                <div>
                <% (5...build.images.count).each do |image| %>
                    <%= image_tag(build.images[image]) %>
                    <% break %>
                <% end %>
                </div>
            </div>
            </div>
        <% end %>
    </div>
<% end %>
